:root {
  --primary: black;
  --secondary: lightgray;
  --text: whitesmoke;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: color 0.4s ease-in-out;
}

.full-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  color: var(--text);
}

.nav-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  width: 4rem;
}

.list-item {
  padding: 0.5rem;
  margin: 3px;
  border-radius: 0.5rem;
  transition: background-color 0.4s ease-in-out;
}

.list-item:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

.hamburger {
  display: none;
}

.hamburger span {
  display: block;
  position: relative;
  transform-origin: 0 0;
  height: 4px;
  width: 33px;
  margin-bottom: 5px;
  background-color: var(--text);
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--secondary);
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(0px, -0px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translate(-3px, 5px) rotate(-45deg);
}

.hamburger.active:hover span {
  background-color: var(--secondary);
}

.nav-menu {
  display: flex;
}

@media screen and (max-width: 460px) {
  .hamburger {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
  }

  .list {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 40px -16px;
    transform: translateX(100%);
    opacity: 0;
    background-color: var(--primary);
    transition: 0.4s ease-in-out;
    width: 285px;
  }

  .list.expanded {
    transform: translateX(0%);
    opacity: 1;
    transition: 0.4s ease-in-out;
    justify-content: space-between;
  }
}
